html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Source Sans Pro", sans-serif; */
  /* font-family: "Inter", sans-serif; */
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

body,
a,
p,
span {
  font-family: "Inter", sans-serif;
}

li {
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.mode {
  writing-mode: vertical-rl;
}

.buttonCss {
  border: 1px solid #64ffda;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0d0d0d;
}
